.Clayball-company_outlines_list {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: /* 1 */
          auto /* 2 */
          1fr;
  grid-template-rows: /* 3 */
          auto /* 4 */
          1fr /* 5 */
          auto;
  //flex-flow:row wrap;

  dt, dd {
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
    flex: auto;
    display: flex;
  }

  dt {
    align-items: center;
    justify-content: center;
  }

  dd {
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
  }

  dd ~ dt,
  dd ~ dd {
  }

  .row2 + dd:after {
    content: none;
  }

  &.table-style {
    border-top: 1px solid #bdc8ca;
    border-left: 1px solid #bdc8ca;
    background-color: transparent;

    dt {

    }

    dd {
    }

    dt, dd {
      border-bottom: 1px solid #bdc8ca;
      border-right: 1px solid #bdc8ca;
    }

    dd ~ dt,
    dd ~ dd {
    }
  }

  &.line-style {
    dd {
    }

    dt, dd {
      border-bottom: 1px solid #eee;
    }

    dd ~ dt {
    }

    dd ~ dd {
    }
  }
}

/**
  *自适应调试模块
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Clayball-company_outlines_list {
    &.line-style {
      dt {

      }

      dd {
      }

      dt, dd {

      }

      dd ~ dt {


      }

      dd ~ dd {
      }
    }
  }

}
