.suf-company_outlines_list {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  dt, dd {
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
  }

  dt {
    float: left;
    width: 35%;
    padding-bottom: 0;
  }

  dd {
    margin-left: 35%;
    background-color: transparent;
  }

  dd ~ dt,
  dd ~ dd {
  }

  .row2 + dd:after {
    content: none;
  }

  &.table-style {
    border: 1px solid #bdc8ca;
    background-color: transparent;

    dt {

    }

    dd {
      border-left: 1px dotted #bdc8ca;
    }

    dt, dd {

    }

    dd ~ dt,
    dd ~ dd {
      border-top: 1px solid #bdc8ca;
    }
  }

  &.line-style {
    dd {
    }

    dt, dd {
      padding: 20px;
    }

    dd ~ dt {
      border-top: 1px solid #eee;
      position: relative;

      &:after {
        content: "";
        display: block;
        border-top: 3px solid #eee;
        position: absolute;
        top: -2px;
        left: 0px;
        height: 3px;
        width: 100%;
      }
    }

    dd ~ dd {
      border-top: 1px solid #f3f3f3;
    }
  }
}

/**
  *自适应调试模块
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .suf-company_outlines_list {
    &.line-style {
      dt {
        content: '';
        display: block;
        border-top: 3px solid #eee;
        position: absolute;
        top: -2px;
        left: 0px;
        height: 3px;
        width: 100%;
      }

      dd {
      }

      dt, dd {
        padding: 20px;
        float: none;
        width: 100%;
        margin: 0px;
      }

      dd ~ dt {
        border-top: 1px solid #eee;
        position: relative;

        &:after {
          content: none;
        }
      }

      dd ~ dd {
        border-top: 1px solid #f3f3f3;
      }
    }
  }

}