.Clayball-company_outlines_list {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  dt, dd {
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
    font-size: 1.5rem;

  }

  dt {
    float: left;
    width: 35%;
    text-align: center;
  }

  dd {
    margin-left: 35%;
    background-color: transparent;
  }

  .row2 + dd:after {
    content: none;
  }

  &.table-style {
    border: 1px solid #bdc8ca;
    background-color: transparent;
    display: table;

    dl.line-row {
      display: table-row;

      &:first-of-type {
        dt, dd {
          border-top: none;
        }
      }
    }

    dt {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
    }

    dd {
      border-left: 1px dotted #bdc8ca;
      padding-left: 20px;
    }

    dt, dd {
      float: none;
      margin: 0;
      display: table-cell;
      width: auto;
      border-top: 1px dotted #bdc8ca;
    }
  }

  &.line-style {
    display: table;
    //table-layout:fixed;

    dl.line-row {
      display: table-row;
    }

    dt, dd {
      padding: 20px;
      display: table-cell;
      margin: 0;
      float: none;
      width: initial;
      border-style: solid;
      border-color: #f3f3f3;
    }

    dt {
      text-align: center;
      border-width: 0 0 5px;
    }

    dd {
      border-width: 0 0 1px;
    }
  }
}

/**
  *自适应调试模块
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 990px) {
  .Clayball-company_outlines_list {
    dt, dd {
      font-size: 1.215rem;
    }

    &.line-style {
      dl.line-row {
        margin-bottom: 20px;
        border: 3px solid rgba(black, .1);
        border-radius: 15px;
        display: block;
      }

      dt, dd {
        padding: 10px;
        float: none;
        width: 100%;
        margin: 0;
        border: none;
        text-align: center;
        display: block;
        position: relative;
      }

      dt {
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          background: rgba(black, .1);
          width: 80%;
          height: 3px;
          border-radius: 500%;
          bottom: 0;
        }
      }

      dd {
        text-align: center;
      }
    }
  }

}
